
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 46px;
    color: #222
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #2e3834;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body {
    background-color: #ebebeb;
    width:100%;
}

header{
    background-color: #007BD3;
    width:100%;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

header img{
    height: 4.5rem;
}

#firstnav ul{
    display: flex;
    align-items: center;
    justify-content: center;

}

#firstnav li{
    list-style-type: none;
    padding: 0 20px;
}

#firstnav li a{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    color: #fff;
    transition: 0.17s ease;
}

#firstnav li a:hover,
#firstnav li a.active{
    color: #616161;
}


.icone{
    font-size: 35px;    
    
}

@media(max-width: 1336px){

    #firstnav li{
        padding: 0 10px;
    }

    #firstnav li a{
        font-size: 14px;
    }

}

#hero{
    max-width: 1440px;;
    margin: 0px auto;
    background-image: url("images/hero.png");
    background-size:cover;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
}


#feature{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#feature .fe-box{
    width: 180px;
    height: auto;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #6e6e6e;
    border-radius: 4px;
    margin: 12px 123px;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    font-family: 'Lexend', sans-serif;
    color: #007BD3;
    background-color: #d6d6d6;
}

.categories{
    max-width: 1000px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.category-item{
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33.33%;
    border: 3px solid #ebebeb;
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.category-item-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.category-item-inner > div{
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.feature-products{
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding-bottom: 2em;
}

.feature-products-title{
    text-align: center;
}

.feature-products-item{
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.feature-products-item-image{
    height: 200px;
    background-size: cover;
    background-position: center;
}

.feature-products-item > .title{
    font-size: 20px;
    font-weight: bold;
}

.feature-products-item > .description{
    color: #220061;
}

.feature-products-item > .price{
    font-style: italic;
}

#buttonItem{
    outline: none;
    background: black;
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0e005c;
    padding-top: 1em;
}

footer .fot-Logo{
    margin-bottom: 30px;
    height: 4rem;
}

footer h4{
    font-size: 16px;
    padding-bottom: 20px;

}

footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer .copyright{
    width: 100%;
    text-align: center;

}

@media(max-width: 1000px){
    .category-item{
        min-width: 50%;
    }
    .feature-products{
        grid-template-columns: 1fr 1fr;
    }

}

@media(max-width: 800px){
    .category-item{
        min-width: 100%;
    }
    .feature-products{
        grid-template-columns: 1fr;
    }
}



@media (max-width: 1439px){
    
    #hero{
        width: 100%;
        height: 75vh;
        background-size: cover;
    }
    

    #feature .fe-box{
        margin: 12px 40px
    }
}
